@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
$primary-color: hsl(218, 44%, 22%);
$secondary-color: hsl(216, 15%, 48%);
$background-color:  hsl(212, 45%, 89%);
$body-color: white;

*{
    font-size: 0.9375rem;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}


body{
    background-color: $background-color;
}

main{
    width: 300px;
    background-color: $body-color;
    height: 450px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 16px;
    margin: auto;
    figure{
        margin: 25px;
        margin-block-end: 15px;
        img{
            width: 250px;
            height: 250px;
            border-radius: 16px;
        }
    }

    h1{
        text-align: center;
        font-size: 1.3125rem;
        font-weight: 700;
        color: $primary-color;
        width: 240px;
        margin: 0px auto;
    }

    p{
        text-align: center;
        width: 240px;
        margin: 0px auto;
        color: $secondary-color;
        margin-block-start: 10px;
    }


    
}